[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.32.4"
singer-sdk = "==0.47.4"
pymssql = ">=2.2.5"
urllib3 = "==1.26.20"
pyodbc = ">=4.0.39"
cryptography = "==44.0.1"
setuptools = "==80.9.0"

[dev-packages]
pytest = ">=6.2.5"
tox = ">=3.24.4"
flake8 = ">=3.9.2"
black = "==24.10.0"
pydocstyle = ">=6.1.1"
mypy = ">=0.910"
types-requests = ">=2.26.1"
isort = ">=5.10.1"

[requires]
python_version = "<3.11,>=3.7.1"
