[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "==25.4.0"
certifi = "==2026.2.25"
charset-normalizer = "==3.4.4"
click = "==8.3.1"
colorama = "==0.4.6"
fsspec = "==2026.2.0"
greenlet = "==3.3.2"
idna = "==3.11"
inflection = "==0.5.1"
joblib = "==1.5.3"
jsonpath-ng = "==1.8.0"
jsonschema-specifications = "==2025.9.1"
jsonschema = "==4.26.0"
packaging = "==26.0"
pathlib-abc = "==0.5.2"
pymssql = "==2.3.13"
pyodbc = "==5.3.0"
python-backoff = "==2.3.1"
python-dateutil = "==2.9.0.post0"
python-dotenv = "==1.2.2"
pyyaml = "==6.0.3"
referencing = "==0.37.0"
requests = "==2.33.1"
rpds-py = "==0.30.0"
simpleeval = "==1.0.7"
simplejson = "==3.20.2"
singer-sdk = "==0.53.7"
six = "==1.17.0"
sqlalchemy = "==2.0.47"
typing-extensions = "==4.15.0"
universal-pathlib = "==0.3.10"
urllib3 = "==2.6.3"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.13"
